In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
filepath = 'data.csv'
df = pd.read_csv(filepath)
df

,Year,Month,Southwest - Airtran,American,American - Eagle,Cape Air,Delta,Delta - ASA,Delta - Chautaqua,Delta - Comair,...,Saudi Arabian,Sierra Pacific,Sky King,Sun County,Swift Air,Team Jet,Titan Airways,USA Jet,World,World Atlantic
0,2010,Jan,242128,62414,7852,1287,75526,0,9168,2282,...,0,0,0,0,0,0,0,0,6390,0
1,2010,Feb,206609,47216,6467,1124,58297,0,6943,1454,...,0,0,0,0,0,0,0,0,1979,0
2,2010,Mar,294403,66157,8874,1602,124516,0,10953,2235,...,0,150,0,0,0,0,0,0,2786,0
3,2010,Apr,281366,65719,12701,1543,156400,0,10450,2327,...,0,0,0,0,0,0,0,0,3335,0
4,2010,May,309705,66768,13824,1468,157869,0,7557,2325,...,0,40,0,118,0,0,0,0,3609,0
5,2010,Jun,359810,67700,13766,1492,168970,0,2009,7440,...,0,60,0,0,0,0,0,0,3647,0
6,2010,Jul,383786,70454,14623,1562,169590,0,49,13551,...,0,0,0,0,0,0,0,0,3135,0
7,2010,Aug,364105,70081,15185,1583,168638,0,1182,11131,...,0,0,0,0,0,110,0,0,2842,0
8,2010,Sep,253851,59575,13513,1515,154986,130,3814,9754,...,0,0,0,0,0,0,0,0,4143,0
9,2010,Oct,298463,68237,15022,1816,176014,530,4928,11463,...,0,0,260,0,0,0,0,0,5369,0
10,2010,Nov,287709,64817,13485,1562,160976,705,4454,6953,...,0,0,0,0,0,0,0,76,4845,0
11,2010,Dec,276644,64119,10965,1346,142492,2910,5414,4405,...,0,0,0,0,0,0,0,0,6477,0
12,2011,Jan,215893,58998,10342,1392,115309,2485,5336,3666,...,0,0,0,0,100,0,0,0,4252,0
13,2011,Feb,206277,53968,8946,1067,105982,3462,5342,3684,...,0,0,0,0,0,0,0,80,2010,0
14,2011,Mar,267421,66494,12261,1699,141503,8892,9196,3885,...,0,0,0,0,0,0,0,0,3392,0
15,2011,Apr,282563,63917,13652,1678,142437,6374,6471,6070,...,0,0,0,0,0,0,0,0,2507,0
16,2011,May,319101,65619,14449,1945,160245,6956,10191,6498,...,0,122,0,0,102,0,0,116,3163,0
17,2011,Jun,334998,70671,13589,1924,164783,6230,7067,8570,...,0,0,0,115,330,0,0,32,4093,0
18,2011,Jul,364631,71988,14240,1919,167042,5577,6418,9686,...,35,48,0,0,0,0,0,110,3448,0
19,2011,Aug,344240,68737,13676,1697,169023,6223,6013,9788,...,0,0,0,0,0,0,0,0,3603,0
20,2011,Sep,232830,58786,14124,1794,156226,6692,992,10570,...,38,0,0,260,0,0,0,0,3158,0
21,2011,Oct,258513,61564,15413,1911,163518,7061,0,10762,...,89,0,0,260,0,0,0,0,3091,0
22,2011,Nov,266690,57895,13315,1759,153020,10798,3664,3542,...,64,0,76,0,32,0,0,68,5913,0
23,2011,Dec,253787,59877,11768,1611,140287,2717,5656,1336,...,0,0,0,0,0,0,0,0,5433,0
24,2012,Jan,199079,60085,10505,1374,123111,2355,3069,3410,...,0,0,0,0,0,0,0,0,2738,0
25,2012,Feb,186814,49906,10434,1529,118340,4670,3822,3528,...,0,0,0,0,0,0,0,0,3098,0
26,2012,Mar,247137,54915,12546,1520,154535,1282,5088,486,...,0,0,0,0,0,0,0,0,3533,0
27,2012,Apr,261739,63459,14551,1491,160048,1741,1725,2220,...,0,0,0,322,0,195,0,0,3830,0
28,2012,May,257359,69127,14952,1579,163527,3448,941,8590,...,0,0,0,280,110,0,0,0,3459,0
29,2012,Jun,306270,69825,15106,1663,173737,1033,174,11043,...,0,110,0,110,0,0,0,0,3514,0
30,2012,Jul,312937,62743,14151,1460,172627,1756,0,4806,...,0,0,0,0,220,0,68,0,2415,0
31,2012,Aug,295832,62865,14338,1429,182708,1459,0,2876,...,0,0,0,0,0,0,0,0,4698,0
32,2012,Sep,237782,52717,13240,1376,156127,1950,0,1901,...,0,0,0,0,0,0,0,0,3407,0
33,2012,Oct,253934,56146,13123,1647,168217,10200,1254,0,...,0,0,0,0,0,0,0,0,3125,0
34,2012,Nov,260330,58585,12841,0,162277,6617,4187,0,...,36,0,0,130,110,0,0,0,3555,270
35,2012,Dec,244330,57215,10657,0,134531,6296,1390,0,...,0,0,0,0,110,0,0,0,3191,0
36,2013,Jan,205758,57270,10256,0,131038,1052,0,0,...,0,0,0,0,0,0,0,0,3484,0
37,2013,Feb,195418,50366,8488,0,113680,554,2849,0,...,0,0,0,322,0,0,0,0,4093,0
38,2013,Mar,257897,59350,10972,0,149335,510,328,0,...,0,0,0,0,280,0,0,0,2823,0
39,2013,Apr,245042,60231,12092,0,149951,2897,1342,0,...,0,0,0,0,0,0,0,0,3029,0
40,2013,May,258797,62910,14394,0,160926,5891,3866,0,...,0,85,0,75,0,0,0,0,3784,0
41,2013,Jun,266410,65287,13338,0,162666,3256,6282,0,...,0,0,0,0,0,0,0,0,4512,0
42,2013,Jul,267728,68600,14298,0,171178,0,6449,0,...,0,0,0,0,0,0,0,0,4512,0

In [4]:
# Mapping months and creating new column
month_mapping = {
    "Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6,
    "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12
}
df["Month_Num"] = df["Month"].map(month_mapping)
df["Date"] = pd.to_datetime(df["Year"].astype(str) + "-" + df["Month_Num"].astype(str), format="%Y-%m")

df

,Year,Month,Southwest - Airtran,American,American - Eagle,Cape Air,Delta,Delta - ASA,Delta - Chautaqua,Delta - Comair,...,Sky King,Sun County,Swift Air,Team Jet,Titan Airways,USA Jet,World,World Atlantic,Month_Num,Date
0,2010,Jan,242128,62414,7852,1287,75526,0,9168,2282,...,0,0,0,0,0,0,6390,0,1,2010-01-01
1,2010,Feb,206609,47216,6467,1124,58297,0,6943,1454,...,0,0,0,0,0,0,1979,0,2,2010-02-01
2,2010,Mar,294403,66157,8874,1602,124516,0,10953,2235,...,0,0,0,0,0,0,2786,0,3,2010-03-01
3,2010,Apr,281366,65719,12701,1543,156400,0,10450,2327,...,0,0,0,0,0,0,3335,0,4,2010-04-01
4,2010,May,309705,66768,13824,1468,157869,0,7557,2325,...,0,118,0,0,0,0,3609,0,5,2010-05-01
5,2010,Jun,359810,67700,13766,1492,168970,0,2009,7440,...,0,0,0,0,0,0,3647,0,6,2010-06-01
6,2010,Jul,383786,70454,14623,1562,169590,0,49,13551,...,0,0,0,0,0,0,3135,0,7,2010-07-01
7,2010,Aug,364105,70081,15185,1583,168638,0,1182,11131,...,0,0,0,110,0,0,2842,0,8,2010-08-01
8,2010,Sep,253851,59575,13513,1515,154986,130,3814,9754,...,0,0,0,0,0,0,4143,0,9,2010-09-01
9,2010,Oct,298463,68237,15022,1816,176014,530,4928,11463,...,260,0,0,0,0,0,5369,0,10,2010-10-01
10,2010,Nov,287709,64817,13485,1562,160976,705,4454,6953,...,0,0,0,0,0,76,4845,0,11,2010-11-01
11,2010,Dec,276644,64119,10965,1346,142492,2910,5414,4405,...,0,0,0,0,0,0,6477,0,12,2010-12-01
12,2011,Jan,215893,58998,10342,1392,115309,2485,5336,3666,...,0,0,100,0,0,0,4252,0,1,2011-01-01
13,2011,Feb,206277,53968,8946,1067,105982,3462,5342,3684,...,0,0,0,0,0,80,2010,0,2,2011-02-01
14,2011,Mar,267421,66494,12261,1699,141503,8892,9196,3885,...,0,0,0,0,0,0,3392,0,3,2011-03-01
15,2011,Apr,282563,63917,13652,1678,142437,6374,6471,6070,...,0,0,0,0,0,0,2507,0,4,2011-04-01
16,2011,May,319101,65619,14449,1945,160245,6956,10191,6498,...,0,0,102,0,0,116,3163,0,5,2011-05-01
17,2011,Jun,334998,70671,13589,1924,164783,6230,7067,8570,...,0,115,330,0,0,32,4093,0,6,2011-06-01
18,2011,Jul,364631,71988,14240,1919,167042,5577,6418,9686,...,0,0,0,0,0,110,3448,0,7,2011-07-01
19,2011,Aug,344240,68737,13676,1697,169023,6223,6013,9788,...,0,0,0,0,0,0,3603,0,8,2011-08-01
20,2011,Sep,232830,58786,14124,1794,156226,6692,992,10570,...,0,260,0,0,0,0,3158,0,9,2011-09-01
21,2011,Oct,258513,61564,15413,1911,163518,7061,0,10762,...,0,260,0,0,0,0,3091,0,10,2011-10-01
22,2011,Nov,266690,57895,13315,1759,153020,10798,3664,3542,...,76,0,32,0,0,68,5913,0,11,2011-11-01
23,2011,Dec,253787,59877,11768,1611,140287,2717,5656,1336,...,0,0,0,0,0,0,5433,0,12,2011-12-01
24,2012,Jan,199079,60085,10505,1374,123111,2355,3069,3410,...,0,0,0,0,0,0,2738,0,1,2012-01-01
25,2012,Feb,186814,49906,10434,1529,118340,4670,3822,3528,...,0,0,0,0,0,0,3098,0,2,2012-02-01
26,2012,Mar,247137,54915,12546,1520,154535,1282,5088,486,...,0,0,0,0,0,0,3533,0,3,2012-03-01
27,2012,Apr,261739,63459,14551,1491,160048,1741,1725,2220,...,0,322,0,195,0,0,3830,0,4,2012-04-01
28,2012,May,257359,69127,14952,1579,163527,3448,941,8590,...,0,280,110,0,0,0,3459,0,5,2012-05-01
29,2012,Jun,306270,69825,15106,1663,173737,1033,174,11043,...,0,110,0,0,0,0,3514,0,6,2012-06-01
30,2012,Jul,312937,62743,14151,1460,172627,1756,0,4806,...,0,0,220,0,68,0,2415,0,7,2012-07-01
31,2012,Aug,295832,62865,14338,1429,182708,1459,0,2876,...,0,0,0,0,0,0,4698,0,8,2012-08-01
32,2012,Sep,237782,52717,13240,1376,156127,1950,0,1901,...,0,0,0,0,0,0,3407,0,9,2012-09-01
33,2012,Oct,253934,56146,13123,1647,168217,10200,1254,0,...,0,0,0,0,0,0,3125,0,10,2012-10-01
34,2012,Nov,260330,58585,12841,0,162277,6617,4187,0,...,0,130,110,0,0,0,3555,270,11,2012-11-01
35,2012,Dec,244330,57215,10657,0,134531,6296,1390,0,...,0,0,110,0,0,0,3191,0,12,2012-12-01
36,2013,Jan,205758,57270,10256,0,131038,1052,0,0,...,0,0,0,0,0,0,3484,0,1,2013-01-01
37,2013,Feb,195418,50366,8488,0,113680,554,2849,0,...,0,322,0,0,0,0,4093,0,2,2013-02-01
38,2013,Mar,257897,59350,10972,0,149335,510,328,0,...,0,0,280,0,0,0,2823,0,3,2013-03-01
39,2013,Apr,245042,60231,12092,0,149951,2897,1342,0,...,0,0,0,0,0,0,3029,0,4,2013-04-01
40,2013,May,258797,62910,14394,0,160926,5891,3866,0,...,0,75,0,0,0,0,3784,0,5,2013-05-01
41,2013,Jun,266410,65287,13338,0,162666,3256,6282,0,...,0,0,0,0,0,0,4512,0,6,2013-06-01
42,2013,Jul,267728,68600,14298,0,171178,0,6449,0,...,0,0,0,0,0,0,4512,0,7,2013-07-01